<!DOCTYPE html>
<html>
  <head>
    <title>Fridge</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Fridge</h1>
    <p>What is in your fridge?</p>
    <p> <%if (congratulate) { %>
      Congratulations, you have no spoiled food in your fridge!
      <% } %>
    </p>
    <form action = "" method = "POST">
    <input type = "text" name = "fName" placeholder = "Food Name"> </input>
    <input type = "date" name = "eDate" placeholder = "Expiration Date"> </input>
    <input type = "submit" value = "Put In Fridge">
    </form> 
    <br />
    <ul>
    <% for (var i = 0; i < foodDays.length; i++) { 
      if (foodDays[i].eDate > 3) {%> 
      <li> <%= foodDays[i].fName + ": " + foodDays[i].eDate + " days until expiration"%> </li> 
      <%} else if (foodDays[i].eDate >= 0) {%>
      <li> <font color = "green"> <%= foodDays[i].fName + ": " + foodDays[i].eDate + " days until expiration"%> 
      </font> </li>
      <%} else {%>
      <li> <font color = "red"> <%= foodDays[i].fName + ": expired " + foodDays[i].eDate*-1 + " days ago" %> 
      </font> </li>
      <% } %>
      <!-- Creating a "Ate" and "Spoiled" button for each new food item. They name of the input is the same as the name of the food item. -->
      <form action = "" method = "POST">  
      <input type = "hidden" name = "fName" value = "<%= foodDays[i].fName %>">
      <input type = "submit" name = "Status" value = "Ate">
      </form>
      <form action = "" method = "POST">
      <input type = "hidden" name = "fName" value = "<%= foodDays[i].fName %>">
      <input type = "submit" name = "Status" value = "Spoiled">      
      </form> 
      <% } %>
    </ul>
    </br>
    </br>
    <!-- At the bottom of the page, I add context for the Eaten and Spoiled variables -->
    <%= "Products Eaten: " + eaten %> &nbsp; &nbsp; <%= "Products Spoiled: " + spoiled %>  
  </body>
</html>
